@import './scss/variable';
@import './scss/extend';
@import './scss/Navbar';
@import './scss/Map';
@import './scss/SearchBar';
@import './scss/Swiper';
@import './scss/Hot_School';
@import './scss/Hot_Country';
@import './scss/Footer';
@import './scss/RWD';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}

#line {
  background: #000;
}
