header {
  max-width: $all-width;
  width: 100%;
  position: fixed;
  z-index: 98;
  top: 0;
  background: $bg-color;
  height: 100px;
  .container {
    display: flex;
    width: $body-width;
    height: 100%;
    padding: 0;
    .logo {
      display: flex;
      align-items: center;
      padding: 0 20px 0 0;
      img {
        height: 70px;
      }
    }
    .nav {
      display: flex;
      justify-content: center;
      cursor: pointer;
      li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
        transition: 0.3s;
        padding: 0 20px 0 0;
        a {
          padding: 8px;
          text-decoration: none;
          color: #fff;
        }
        img {
          height: 10px;
          padding: 0px 5px;
        }
        &:hover {
          background: #000;
          .navTitle {
            color: $txt-color;
          }
        }
      }
    }
    .header_member {
      display: flex;
      justify-content: center;
      cursor: pointer;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $txt-color;
        font-size: 16px;
        padding: 0px 10px;
        height: 100px;
        img {
          height: 30px;
          padding: 0px 5px;
        }
        &:hover {
          color: #fff;
        }
      }
    }
    .header-search {
      display: block;
      justify-items: center;
      input {
        border-radius: 0px;
        width: 100px;
      }
    }
  }

  .line_top {
    display: none;
    position: relative;
    position: fixed;
    width: 30px;
    height: 56px;
    right: 110px;
    img {
      position: absolute;
      height: 100%;
      right: 0px;
      width: 30px;
    }
  }
  .school_top {
    position: relative;
    position: fixed;
    width: 30px;
    height: 56px;
    right: 65px;
    display: none;
    img {
      position: absolute;
      height: 100%;
      right: 0px;
      width: 30px;
    }
  }
  .num_top {
    display: none;
    position: relative;
    position: fixed;
    width: 20px;
    height: 20px;
    right: 55px;
    top: 5px;
    background-color: $txt-color;
    border-radius: 50%;
    text-align: center;
    span {
      vertical-align: 3px;
      font-size: 12px;
    }
  }
  .mobile_menu {
    display: none;
    position: fixed;
    width: 36px;
    height: 36px;
    right: 10px;
    top: 10px;
    border-radius: 5px;
    background: $txt-color;
    .mobile_line {
      position: absolute;
      width: 22px;
      height: 3px;
      background: #fff;
      top: 45%;
      right: 7px;
      &:after {
        content: '';
        position: absolute;
        width: 22px;
        height: 3px;
        background: #fff;
        top: -8px;
      }
      &:before {
        content: '';
        position: absolute;
        width: 22px;
        height: 3px;
        background: #fff;
        top: 8px;
      }
    }
  }
}
.mobile_menu_open {
  position: fixed;
  width: 250px;
  height: 100%;
  z-index: 100;
  background-color: $bg-color;
  top: 0px;
  right: 0px;
  transition: 2s;
  .mobile_menu_bar {
    display: flex;
    flex-direction: column;
    li{
      border-bottom: 1px solid white;
      height: 40px;
      padding: 10px 10px 10px 15px;
      .mobil_menu_arrow{
        width: 20px;
        height: 18px;
        border-radius: 50%;
        background: $txt-color;
        color: $bg-color;
        vertical-align:-3px;
      }
      span{
        padding-left: 10px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }
    }
    .mobile_menu_close {
      position: relative;
      height: 56px;
      width: 100%;
      .mobile_menu_border {
        position: absolute;
        right: 10px;
        top:10px;
        width: 36px;
        height: 36px;
        border-radius: 5px;
        background: $txt-color;
        
        span {
          position: absolute;
          top: 45%;
          right: 7px;
          width: 22px;
          height: 3px;
          background-color: white;
          transform: rotate(45deg);
          &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 22px;
            height: 3px;
            background-color: white;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}
nav {
  position: fixed;
  right: 0;
  top: 280px;
  z-index: 97;
  ul {
    li {
      width: 50px;
      height: 50px;
      cursor: pointer;
      .fb {
        background-color: #3b5998;
      }

      .line {
        background: #00c300;
      }
      .ig {
        background: linear-gradient(
          to right,
          #dc973d,
          #c34c4d 30%,
          #be1975 60%,
          #7024c0
        );
      }
      .wechat {
        background: #8bc346;
      }
    }
    // .fb_icon {
    //   transition: 0.3s;
    // }
    // .fb_icon:hover {
    //   width: 60px;
    //   height: 60px;
    // }
  }
}

.more_info {
  position: absolute;
  top: 100px;
  left: 0.5px;
  li {
    width: 95px;
    background: rgba(44, 44, 44, 0.9);
    height: 50px;
    &:hover {
      background: #ccc;
      span {
        color: $txt-color;
      }
    }
  }
}
.school_info {
  position: absolute;
  top: 100px;
  left: 0.5px;
  li {
    width: 127px;
    background: rgba(44, 44, 44, 0.9);
    height: 50px;
    &:hover {
      background: #ccc;
      span {
        color: $txt-color;
      }
    }
  }
}

.search_country {
  position: absolute;
  background-color: #333333ad;
  height: 180px;
  width: $all-width;
  top: 100px;
  left: -500px;
  padding-top: 10px;
  ul {
    display: flex;
    width: $body-width;
    flex-wrap: wrap;
    margin: 0 auto;
    li {
      width: 175px;
      height: 70px;
      border-radius: 10px;
      margin: 0 10px 10px 0;
      .flag {
        img {
          width: 60px;
          height: 50px;
        }
      }
      .flagtext {
        display: flex;
        flex-direction: column;
        a {
          padding: 0;
          line-height: 1;
        }
        span {
          color: #666666;
          font-size: 12px;
        }
      }
    }
  }
  .malta {
    width: 175px;
    &::after {
      content: '';
      width: 16px;
      height: 70px;
      background: transparent;
    }
  }
}
